<div class="container-navbar">
  <ul class="list-group-navbar">
    <li><a href="{% url 'notes:note-list' %}" class="list-group-item-navbar">Notes</a></li>
    <li><a href="{% url 'notes:category-list' %}" class="list-group-item-navbar">Category</a></li>
  </ul>

  {% if user.is_authenticated %}
    <div class="user-links-navbar">
      <span class="user-link">{{ user.get_username }}</span>
      <a href="{% url 'account_logout' %}?next={{ request.path }}" class="list-group-item-navbar logout-link">Logout</a>
    </div>
  {% else %}
    <a href="{% url 'account_login' %}?next={{ request.path }}" class="list-group-item-navbar login-link">Login</a>
  {% endif %}
</div>
