.deal__btns {
    display: flex;
    justify-content: space-between;
    column-gap: 10rem;
}
.deal__btn-add,
.deal__btn__arhive{
    display: flex;
    align-items: center;
    column-gap: 10rem;
}
.deal__btn-add::after{
    display: flex;
    align-items: center;
    justify-content: center;
    content: "+";
    color: var(--accent-second);
    font-size: 13rem;
    width: 15rem;
    height: 15rem;
    background-color: #fff;
    border-radius: 50%;
}
.deal__btn__arhive::after{
    content: '';
    display: inline-block;
    width: 20rem;
    height: 20rem;
    background-image: url('../images/arhive.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.deal .main-block{
    margin-top: 20rem;
}
.deal__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr) 100rem;
    border: 1rem solid var(--border-grey);
    padding: 15rem 0;
    padding-right: 30rem;
}
@media (max-width: 1250px){
.deal__list {
    row-gap: 30rem;
    grid-template-columns: repeat(4, 1fr);
}
}
@media (max-width: 800px){
    .deal__list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 500px){
    .deal__list {
        grid-template-columns: 1fr;
        padding: 15rem;
    }
}
.deal__item{
    display: flex;
    flex-direction: column;
    row-gap: 10rem;
    padding: 25rem 0;
    text-align: center;
}
.deal__item:not(:first-child) {
    border-left: 1rem solid var(--border-grey);
}

.deal__item.deal__item-more{
    position: relative;
    border: none;
    justify-content: center;
}
@media (max-width: 1250px){
    .deal__item.deal__item-more {
        border-left: 1rem solid var(--border-grey);
    }
    .deal__item.deal__item-noborder{
        border: 0;
    }
}
@media (max-width: 800px){
    .deal__list .deal__item{
        border: none;
    }
    .deal__item:nth-child(2n + 1):not(:last-child){
        border-right: 1rem solid var(--border-grey);
    }
}
@media (max-width: 500px){
    .deal .deal__list .deal__item{
        border: none;
    }
    .deal__list .deal__item:not(:last-child) {
        border-bottom: 1rem solid var(--border-grey);
    }
}
.deal-item-more__btn{
    display: flex;
    margin: 0 auto;
    font-weight: 700;
    font-size: var(--fontSize-medium);
}
.deal-item-more__dropmenu{
    width: auto;
    margin-top: 0;
    top: 80%;
    right: 50%;
    transform: translateX(50%) translateY(-10rem);
}
.deal-item-more__dropmenu.active{
    transform: translateX(50%) translateY(0);
}
.deal-item-more__list{
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 10rem;
}
.deal-item-more__link:hover{
    text-decoration: underline;
}
@media (max-width: 800px){
    .deal-item-more{
        grid-column: span 2;
    }
}
@media (max-width: 500px){
    .deal-item-more{
        grid-column: auto;
    }
}
