.prace-cards{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: -15px;
    margin-left: -15px;
    max-width: 1200rem;
    margin: 0 auto;
}
.prace-card {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding: 15rem;
}
.pricing_wrap {
    padding: 36rem;
	margin-bottom:30px;
    background: var(--background-main);
    box-shadow: var(--shadow-2);
    -webkit-box-shadow: var(--shadow-2);
    border-radius: var(--border-raduis-middle);
}
.pricing_head {
    text-align: center;
    margin-bottom: 24rem;
}
.pricing_head h4,
.pricing_price h2,
.pricing_price h2 span{
    font-family: 'Jost', sans-serif;
}
.pricing_price {
    text-align: center;
    margin-bottom: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pricing_price > span,
.pricing_body ul li,
.recommended,
.choose_package{
    font-family: 'Muli', sans-serif;
}
.pricing_head h4{
    margin-bottom: 8rem;
    line-height: 26px;
    font-size: 21px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--textColor-card);
}
.pricing_price h2 {
    font-size: 60px;
    letter-spacing: 2px;
    line-height: 36px;
    margin-bottom: 10rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: var(--textColor-card);
}
.pricing_price h2 span {
    font-size: 25px;
}
.pricing_price > span{
    color: #72809D;
}
.pricing_body ul {
    padding: 0;
    margin: 0 0 15rem;
}
.pricing_body ul li {
    position: relative;
    padding: 10px 10px 10px 40px;
    color: #2c3038;
    font-size: 15px;
    font-weight: 600;
	margin-bottom:10px;
}
.pricing_body ul li.none{
	opacity:0.5;
}
.pricing_body ul li:before {
    content:"\f00c";
    font-family: 'Font Awesome 5 Free';
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(39, 174, 96,0.12);
    border-radius: 50%;
    color: var(--background-green);
    left: 0;
    position: absolute;
    top: 5px;
    font-size: 13px;
}
.pricing_body ul li.none:before {
    content: "\f00d";
    background:rgba(220, 53, 69,0.12)!important;
    color:rgb(220 53 69)!important;
}
.choose_package {
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background-main);
    border: 4px solid #d4efdf;
    border-radius: 50px;
    color: var(--background-green);
    font-weight: 600;
    font-size: 18px;
    transition: all ease 0.4s;
}
.choose_package:hover, .choose_package:focus {
    background:#d4efdf;
    border: 4px solid #d4efdf;
    color: var(--background-green);
}
.recommended {
    margin-bottom: 15rem;
    padding: 6px 20px;
    background:#ff9800;
    display: inline-block;
    border-radius: 50px;
    color: var(--background-main);
    font-size: 13px;
    font-weight: 600;
}
.btn.choose_package.active{
	background:var(--background-green);
	border-color:var(--background-green);
	color:var(--textColor-white);
}
.pertner_flexio {
    background: var(--background-main);
    border-radius: 0.2rem;
    margin: 0.4rem;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.8rem;
}
.pertner_flexio img {
    max-width: 35px;
    margin-right: 10px;
}
.pertner_flexio h5 {
    margin: 0;
}
@media (max-width: 1199px){
.pricing_wrap {
    padding: 36rem 15rem;
}
}
@media (max-width: 800px){
    .prace-card{
        flex: 0 0 100%;
        max-width: 100%;
    }
}